@import "tailwindcss"; 

@theme { 

   /* Text Sizes */
  --text-5xl: 2.986rem;
  --text-4xl: 2.488rem;
  --text-3xl: 2.074rem;
  --text-2xl: 1.728rem;
  --text-xl: 1.44rem;
  --text-large: 1.2rem;
  --text-medium: 1rem;
  --text-small: 0.833rem;
  --text-xs: 0.694rem;

   /* Font Family */
  --font-primary: 'Satoshi', sans-serif;
  --font-accent: 'Cabinet Grotesk', sans-serif;

  /* Font Weight */
  --font-weight-normal: 500;
  --font-weight-extrabold: 800;

  /* Colors */
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #BFBFBF;
  --color-neutral-250: #808080;
  --color-neutral-300: #657383;
  --color-neutral-400: #5C5858;
  --color-neutral-450: #4C5866;
  --color-neutral-500: #31393F;
  --color-neutral-600: #333333;
  --color-neutral-700: #000000;

  /* Spacing & Sizing */
  --spacing-0: 0rem;
  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.375rem;
  --spacing-4: 0.5rem;
  --spacing-5: 0.625rem;
  --spacing-6: 0.75rem;
  --spacing-7: 0.875rem;
  --spacing-8: 1.00rem;
  --spacing-9: 1.125rem;

  /* Radius */
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;

} 
